/* Default css */
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
    
}

body{
    height: auto;
    position: relative;
    background-color: var(--white)
}


/* Colour variables*/

:root {
    --black: #000000;
    --charcoal: #191A1C;
    --white: #ffffff;
    --teal: #008080;
    --whitesmoke: 
  }

/* Individual classes to apply to any element on page */

.flexCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-evenly{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.flex-Row{
    flex-direction: row;
}

.flex-column{
    flex-direction: column;
}

.container{
    width: 100%;
    height: auto;
    border: var(--charcoal);
    margin: 10px 0px;

}

.container2{
    flex-direction: row; 
}

.padding-top-m{
    padding-top: 20px;
}

.padding-bottom-m{
    padding-bottom: 20px;
}

.padding-sm{
    padding: 10px 5px;

}

.padding-m{
    padding: 15px 5px;
}

.padding-l{
    padding: 20px 5px;
}

.height-vh{
    height: 100vh;
}

.small-vh{
    height: 50vh;  
}

.margin-top-m{
    margin-top: 20px;
}

.margin-bottom-m{
    margin-bottom: 20px;
}

.displayNone{
    display: none;
}

/* Header section */

header{
        height: 20vh;
        background-color: rgb(97, 140, 248);
        position: relative;
        padding: 0px 20px;
        margin-left: auto;
        margin-right: auto;
    }

    .infoConainer{
        max-width: 45%;
        position: absolute;
        top: 15%;
        left: 5%;
        z-index: 1;
    }

    #info{
        width: 50%;
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s, opacity 0.5s linear;
    }

    #GameInfo:hover + #info{
        visibility: visible;
        opacity: 1;
    }

.Logo{
        max-width: 40%;
    }

/* Main section */

    main{
        width: 90%;
        min-height: 70vh;
        height: auto;
        flex-direction: column;
        position: relative;
        margin-left: auto;
        margin-right: auto;
     }

     .playBtn{
        padding: 10px 40px;
        border-radius: 10px;
        background-color: #FF851B;
        color: #0C2B77;
        border: solid #0C2B77 2px;
        cursor: pointer;
     }
     #countdown{
        position: absolute;
        top: -5;
        right: 10;
        font-size: 30px;
        color: red;
     }

     #highScoreDisplay{
        color: rgb(255, 133, 27);
     }

     .scores{
        position: absolute;
        top: 15%;
        right: 5%;
        color: rgb(12 43 119);
        font-size: 20px;
     }

     .startScreen{
        width: 60%;
        min-height: 70vh;
        height: auto;
        flex-direction: column;
        margin: 20px 0px;
        text-align: center;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1036%26quot%3b)' fill='none'%3e%3cpath d='M597.95 229.26 a96.64 96.64 0 1 0 193.28 0 a96.64 96.64 0 1 0 -193.28 0z' fill='rgba(84%2c 140%2c 201%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M396.61165651439137 467.0168181526173L538.567808803597 527.2736298054004 598.8246204563802 385.3174775161948 456.86846816717457 325.06066586341166z' fill='rgba(84%2c 140%2c 201%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1068.4523196212838 160.02073896906455L1192.9043788353579 55.59306198328183 1088.4767018495752-68.8589972307924 964.0246426355011 35.56867975499034z' fill='rgba(84%2c 140%2c 201%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M828.02 556.01 a137.02 137.02 0 1 0 274.04 0 a137.02 137.02 0 1 0 -274.04 0z' fill='rgba(84%2c 140%2c 201%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M842.7733102543108 121.92465309263301L970.4368425290619 97.1093762234537 945.6215656598827-30.55415605129744 817.9580333851314-5.738879182118126z' fill='rgba(84%2c 140%2c 201%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1185.78 363.21 a179.94 179.94 0 1 0 359.88 0 a179.94 179.94 0 1 0 -359.88 0z' fill='rgba(84%2c 140%2c 201%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1413.979%2c304.927C1441.06%2c303.252%2c1462.842%2c285.071%2c1476.285%2c261.502C1489.586%2c238.184%2c1494.446%2c210.063%2c1481.504%2c186.543C1468.136%2c162.248%2c1441.709%2c148.349%2c1413.979%2c148.27C1386.108%2c148.191%2c1360.709%2c162.619%2c1345.786%2c186.158C1329.628%2c211.645%2c1321.69%2c243.967%2c1336.716%2c270.137C1351.789%2c296.389%2c1383.765%2c306.796%2c1413.979%2c304.927' fill='rgba(84%2c 140%2c 201%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M286.05 5.23 a132.14 132.14 0 1 0 264.28 0 a132.14 132.14 0 1 0 -264.28 0z' fill='rgba(84%2c 140%2c 201%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M222.54%2c418.321C256.804%2c415.987%2c281.024%2c387.987%2c297.089%2c357.633C311.93%2c329.592%2c316.023%2c297.205%2c301.601%2c268.947C285.735%2c237.861%2c257.417%2c212.86%2c222.54%2c211.566C185.613%2c210.196%2c151.626%2c230.988%2c132.623%2c262.679C113.044%2c295.331%2c109.006%2c336.179%2c128.051%2c369.145C147.088%2c402.097%2c184.572%2c420.907%2c222.54%2c418.321' fill='rgba(84%2c 140%2c 201%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M817.2542854880683 448.4230007752417L959.3809226304331 393.86569635575904 904.8236182109505 251.73905921339423 762.6969810685856 306.2963636328768z' fill='rgba(84%2c 140%2c 201%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1036'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
        padding: 20px 0px;
        border-radius: 30px;
        border: 0.1875rem solid white;
        border-width: 0 0 0.1875rem 0.1875rem;
     }

     .GlobeImage{
       max-width: 30%;
     }

     .startScreen h1{
        width: 80%;
        color: var(--black);
     }

     .loadingScreen{
        width: 60%;
        max-height: 70vh;
        height: auto;
        margin: 20px 0px;
        text-align: center;
     }

     .GameScreen{
        width: 90%;
        height: auto;
        text-align: center;
        color: var(--black);
     }

     figure{
        width: 400px;
        height: 300px;
        margin: 10px 0px;
        overflow: hidden;
     }
    
     .LocationImg{
        width: 80%;
        height: 80%;
        object-fit: cover;
        border: 0.1875rem solid black;
        border-width: 0 0 0.1875rem 0.1875rem;
     }

/* Style for the flag tooltip */

.tooltip {
    display: none;
    position: absolute;
    background-color: var(--black);
    color: var(--white);
    padding: 5px 10px;
}

/* Show the flag tooltip on hover */

div:hover .tooltip {
    display: inline-block;
    transform: translate(100px, 25px)
}



#flagContainer > div {
    width: 200px;
    height: 150px;
    align-items: center;
    position: relative;
    margin: 5px;
    font-size: 12px;
}

.flagImages {
    width: 90%;
    height: 90%;
    object-fit: contain;
    margin-bottom: 5px;
}

.flagName{
color: red;
}



#gameStat{
    width: 60%;
     background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1036%26quot%3b)' fill='none'%3e%3cpath d='M597.95 229.26 a96.64 96.64 0 1 0 193.28 0 a96.64 96.64 0 1 0 -193.28 0z' fill='rgba(84%2c 140%2c 201%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M396.61165651439137 467.0168181526173L538.567808803597 527.2736298054004 598.8246204563802 385.3174775161948 456.86846816717457 325.06066586341166z' fill='rgba(84%2c 140%2c 201%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1068.4523196212838 160.02073896906455L1192.9043788353579 55.59306198328183 1088.4767018495752-68.8589972307924 964.0246426355011 35.56867975499034z' fill='rgba(84%2c 140%2c 201%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M828.02 556.01 a137.02 137.02 0 1 0 274.04 0 a137.02 137.02 0 1 0 -274.04 0z' fill='rgba(84%2c 140%2c 201%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M842.7733102543108 121.92465309263301L970.4368425290619 97.1093762234537 945.6215656598827-30.55415605129744 817.9580333851314-5.738879182118126z' fill='rgba(84%2c 140%2c 201%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1185.78 363.21 a179.94 179.94 0 1 0 359.88 0 a179.94 179.94 0 1 0 -359.88 0z' fill='rgba(84%2c 140%2c 201%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1413.979%2c304.927C1441.06%2c303.252%2c1462.842%2c285.071%2c1476.285%2c261.502C1489.586%2c238.184%2c1494.446%2c210.063%2c1481.504%2c186.543C1468.136%2c162.248%2c1441.709%2c148.349%2c1413.979%2c148.27C1386.108%2c148.191%2c1360.709%2c162.619%2c1345.786%2c186.158C1329.628%2c211.645%2c1321.69%2c243.967%2c1336.716%2c270.137C1351.789%2c296.389%2c1383.765%2c306.796%2c1413.979%2c304.927' fill='rgba(84%2c 140%2c 201%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M286.05 5.23 a132.14 132.14 0 1 0 264.28 0 a132.14 132.14 0 1 0 -264.28 0z' fill='rgba(84%2c 140%2c 201%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M222.54%2c418.321C256.804%2c415.987%2c281.024%2c387.987%2c297.089%2c357.633C311.93%2c329.592%2c316.023%2c297.205%2c301.601%2c268.947C285.735%2c237.861%2c257.417%2c212.86%2c222.54%2c211.566C185.613%2c210.196%2c151.626%2c230.988%2c132.623%2c262.679C113.044%2c295.331%2c109.006%2c336.179%2c128.051%2c369.145C147.088%2c402.097%2c184.572%2c420.907%2c222.54%2c418.321' fill='rgba(84%2c 140%2c 201%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M817.2542854880683 448.4230007752417L959.3809226304331 393.86569635575904 904.8236182109505 251.73905921339423 762.6969810685856 306.2963636328768z' fill='rgba(84%2c 140%2c 201%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1036'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
     border-radius: 30px;
     border: 0.1875rem solid white;
     border-width: 0 0 0.1875rem 0.1875rem;
}

#gameStat > *{
    margin: 10px auto;
}



.continueScreen > div{
    border: 1px solid var(--black);
    width: 200px;
    height: 125px;
}

@media (max-width: 800px){
    main{
        width: 100%;
        min-height: 70vh;
        height: auto;
    }

    .LocationImg {
        width: 90%;
        background-position: center center;
    }
}

@media (max-width: 650px) {

/* Header/nav css */

header{
    max-width: 650px;
    max-height: 15vh;
}

.Logo{
    max-width: 50%;
    margin-top: 50px;
}
 /* end of Header/nav css */

 /* Main/game screen css */
 main{
    width: 100%;
    height: auto;
 }

 .startScreen{
    width: 90%;
 }

 figure{
    height: 400px;
    width: 100%;
    margin: 0px auto;
 }

 .container2{
    flex-direction: column; 
}

 figure img{
    width: 80%;
 }

 #flagContainer > div:hover .tooltip {
    display: inline-block;
    transform: translate(20px, 5px);
}

#flagContainer{
    flex-wrap: wrap;
}

#flagContainer > div {
    width: 150px;
    height: 80px;
    align-items: center;
    position: relative;
    margin: 15px 2px;
    font-size: 12px;
}

.flagImages {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.infoConainer{
 display: none;
}

.Logo {
    margin-right: auto;
}

.scores {
    top: 35%;
    font-size: 18px;
}


/* end of Main/game screen css */
}
